body{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  word-break: break-word;
  background-color: #fff;
  color:#333;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}

h1{
  font-family: 'IBM Plex Serif', serif;
  font-size: 36px;
  line-height: 50px;
}

h2{
  font-weight: normal;
  color: #999;
  border-left: 5px solid #168dd9;
  font-style: italic;
  padding: 2px 0px 2px 20px;
  line-height: 30px;
  font-size: 18px;
  margin:40px 0 0 0;
}

h3{
  font-family: 'IBM Plex Serif', serif;
  margin-bottom: 20px;
  margin-top: 40px;
  font-size:30px;
  color:#168dd9;
}

p{
  margin: 0;
}

hr{
  margin-top: 20px;
  margin-bottom:30px;
  border: 0; 
  border-top: 1px solid #ccc;
}

.red{
  color:rgb(224, 62, 62);
}
.bubblechart-div{
  text-align: center;
}
.quote{
  font-size: 24px;
  line-height: 36px;
  padding-left: 15px;
  border-left: 2px solid rgb(224, 62, 62);
  font-style: italic;
}
.quotation{
  margin-top:40px;
  padding-left: 15px;
  border-left: 2px solid #666;
  font-style: italic;
}
.bold{
  font-weight: 700;
}
.italics{
  font-style: italic;
}
ol{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 20px;
}

.finding-object{
  padding: 20px 40px;
  text-align: center;
  font-size: 20px;
  margin: 20px 0 40px 0;
  line-height: 36px;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 2px;
}

.blue{
  font-size: 32px;
  line-height: 42px;
  color:#168dd9;
  font-family: 'IBM Plex Serif', serif;
}

.graph-div{
  margin: 40px 0 20px 0;
  padding: 0 40px;
}

.image-container{
  margin:20px 0;
  padding: 20px;
  background-color: rgb(21, 32, 43);
}

.black{
  color:#333;

}
.container{
  margin: auto;
  max-width: 720px; 
  margin-top: 20px;
  padding:20px 20px;
}
.container1{
  margin: auto;
  max-width: 720px; 
  padding:20px;
}
.header-wrap{
  margin: auto;
  max-width: 1024px;
  position: relative; 
}
.header-subtext{
  font-weight: 500;
  font-size: 30px;
}
.header-title{
  line-height: 1.8;
}

.header{
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-size: 36px;
  padding: 100px 20px;  
  line-height: 48px;
}


.footer{
  margin-top: 75px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  font-size: 16px;
  padding: 20px;  
  line-height: 28px;
}

.footer-content{
  max-width: 1024px;
  font-size: 14px;
  line-height: 24px;
  margin:auto;
  padding-top:25px;
  margin-top: 20px;
  border-top: 1px solid #fff;
}

.share{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

.header-span{
  background-color: #fff;
  font-weight: 700;
  color: #414141;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;  
  padding: .875rem;
  display: inline;
}

.section-title{
  background-color: #414141;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  margin: 20px 0;

  font-size: 16px;
  display: inline;

}

.title{
  font-size: 18px;
  font-weight: 700;
  padding-left:20px;

}

.byLine{
  font-size: 14px;
  opacity:0.5;
  font-style: italic;
  line-height: 24px;
  padding-left:20px;
}

.sideBar{
  color:#333;
  background-color:#fafafa;
  border-right:1px solid #f1f1f1 ;
  padding:20px;
  max-width: 380px;
  font-size: 14px;
  line-height: 24px;
}

.notes {
  border-left: 3px solid #0E65A5;
  padding: 0px 0 0px 10px;
  font-size:16px;
  font-style: italic;
  margin:15px 0 0 0;
}

.blue-color{
  color:#0E65A5;
}

.imgContainer{
  background-color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
  margin:15px 0;
}
.imgContainer1{
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
  margin:15px 0;
}

p {
  margin: 20px 0 5px 0;
  font-family: 'IBM Plex Serif', serif;
}

.subNote{
  font-size: 12px;
  font-weight: 700;
  opacity:0.5;
}

.marginBottom{
  margin-bottom:15px;
}

.body{
  display: flex;
}

.donut{
  margin-top: 20px;
}

.subHeadSideBar{
  font-size: 16px;
  font-weight: bold;
}

.truthfull{
  color:#c0ca33
}

.troll{
  color:#ff9800
}

.unknown{
  color:#aaa
}

.tweet-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.twt{
  display: flex;
  width: 90vw;
  justify-content: space-around;
}

.section-head-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters{
  display: flex;
  font-size: 16px;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;

}

.filter-title{
  font-weight: 700;
  color: #aaa;
}
.inactive-user{
  border: 1px solid #414141;
  background-color: #fff;
  color:#414141;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.truthfull-filter{
  color:#c0ca33;
  border: 1px solid #c0ca33;
  background-color: #fff;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.troll-filter{
  color:#ff9800;
  border: 1px solid #ff9800;
  background-color: #fff;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.unknown-filter{
  color:#aaa;
  border: 1px solid #aaa;
  background-color: #fff;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.false-filter{
  color:#e03e3e;
  border: 1px solid #e03e3e;
  background-color: #fff;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.checked{
  background-color: #414141;
  color:#fff;
  font-weight: 700;
}
.false-checked{
  background-color: #e03e3e;
  color:#fff;
  font-weight: 700;
}
.unknown-checked{
  background-color: #aaa;
  color:#fff;
  font-weight: 700;
}
.troll-checked{
  background-color: #ff9800;
  color:#fff;
  font-weight: 700;
}
.truthfull-checked{
  background-color: #c0ca33;
  color:#fff;
  font-weight: 700;
}
.tooltip{
  max-width: 340px;
  background-color:rgba(255,255,255,0.9);
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  padding-top:10px;
  display:none;
}

.active-true{
  background-color: #aaa;
  font-size: 14px;
  font-weight: 500;
  color:#fff;
  padding: 5px;
  border-radius: 5px;

}

.tweet-username{
  font-weight: 700;
  color:#1da1f2;
  margin: 10px 5px 10px 10px;
}

.tweet-content{
  font-size: 14px;
  margin: 0 10px 10px 10px;
}

.tooltip-footer{
  border-top: 1px solid #aaa;
  padding:10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.tooltip-header{
  display: flex;
  align-items: center;
}

.retweet-tooltip-value, .likes-tooltip-value{
  font-size: 16px;

}

.content-list{
  margin: 10px 0;
}

.content-list-div{
  margin-top: 25px;
}

.content-table{
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: #e03e3e;
  font-style: italic;
}

a:hover{
  font-weight: 700;
}

.icons{
  display: flex;
  justify-content: center;
  margin-top:10px;
}
.react-share__ShareButton{
  margin-left:10px;
}

.email{
  text-align: center;
}

.share-header{
  max-width: 1024px;
  margin: 5px auto 10px auto;
  font-size: 14px;
  border-bottom: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reading-time{
  font-style: italic;
  font-weight: 700;
  padding-right: 10px;
}
.share-top{
  justify-content: start;
  padding: 0px 10px;
}

ol{
  font-family: 'IBM Plex Serif', serif;
}

.lexicon-visual{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-mouseover{
  text-align: center;
  font-size: 16px;
  color:#aaa;
}